<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=500px, maximum-scale=1.0" />
  <title>Home</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <script type="text/javascript" src="../static/js/jquery.min.js"></script>

  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

  <script>
    $(window).on("load",function() {

      $(window).scroll(function() {
        var windowTop = $(this).scrollTop();
        var windowBottom = $(this).scrollTop() + $(this).innerHeight(); //current screen bottom border

        $(".fade-500").each(function() {
          var objectTop= $(this).offset().top;
          var margin = 100;
          if (objectTop + margin < windowBottom) {
            if ($(this).css("opacity")==0) {
              $(this).fadeTo(500,1);
            }
          }
          else {
            if ($(this).css("opacity")==1) {
              $(this).fadeTo(500,0);
            }
          }
        });
      }).scroll();

    });
  </script>

</head>
<body>
  <header>
    <nav class="navbar navbar-custom fixed-top navbar-expand-lg navbar-dark py-4 py-xl-1">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">Veronique</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarLinksLeft,#NavbarLinksRight">
            <span class="navbar-toggler-icon" style="width:70px;height:70px;"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="NavbarLinksRight">

            <ul class="navbar-nav mr-5">
              <li class="nav-item h5 my-2 mx-2">
                <a class="nav-link" href="#">Strona Główna</a>
              </li>

              <li class="nav-item h5 my-2 mx-2">
                <a class="nav-link" href="#">O nas</a>
              </li>

              <li class="nav-item h5 my-2 mx-2">
                <a class="nav-link" href="#">Galeria</a>
              </li>

              <li class="nav-item h5 my-2 mx-2">
                <a class="nav-link" href="#">Kontakt</a>
              </li>
            </ul>

            <ul class="navbar-nav ml-5">
              <li class="nav-item h4 mt-2 mx-1">
                <a class="nav-link waves-effect waves-light" href="https://www.instagram.com/veronique_tattoo/">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>

              <li class="nav-item h4 mt-2 mx-1">
                <a class="nav-link waves-effect waves-light" href="https://www.facebook.com/VeroniqueTattoo">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
            </ul>

          </div>
      </div>
    </nav>

  </header>

  <header class="container-fluid masthead fade-once-1">
    <div class="d-flex h-100 align-items-center">

      <div class="mx-auto text-center">

        <h1 class="h1-grad mx-auto my-0 text-uppercase">Tattoo Veronique</h1>

        <div style="text-align: center; margin-top:15vh;">
          <button type="button" class="btn-main"  onclick="document.location.href='order'">
            Złożyć zamówienie
          </button>
        </div>

      </div>

    </div>
  </header>

  <section class="container-fluid fade-once-1 about-gradient" style="margin-top:0px;">

      <div class="row justify-content-center mx-5 mb-lg-0">

        <div class="col-xl-5 my-2 fade-500">
          <img class="img-fluid img-about" src="../static/img/Veronika.jpg" alt="" />
        </div>

        <div class="col-xl-6 fade-500">
          <div class="d-flex flex-row h-100">
            <div class="project-text w-100 my-auto">
              <!-- About: Text -->
              <div class="text-center text-lg-left">
                <h1 class = "h1-grad-about" >Veronika Karpenko</h1>
                <p class="p-about">An example of where you can put an image of a project, or anything else, along with a description.</p>
                <hr class="d-none d-lg-block mb-3 ml-0" />
              </div>
              <!-- About: More Button -->
              <div class="d-flex flex-row-reverse h-100">
                <button type="button" class="btn-mini-about">Więcej</button>
              </div>

            </div>
          </div>
        </div>

      </div>

  </section>

  <section class="container">
    <div class="row fade-500 justify-content-center text-center mb-5" >
      <h1 class="header">Usługi</h1>
      <hr style="color:#E0E0E0; width:50%">
    </div>

    <div class="row fade-500">
      <div class="col-xl-3 col-lg-6 mb-5 my-xl-2 mr-4">
        <div class="card">

          <div class="imgBx">
            <img src="../static/img/galery/tattooThin.jpg" alt="images">
          </div>

          <div class="details">
            <h2 style="margin-bottom:2vh;">Cienkie tatuaże</h2>
            <div class="d-flex flex-row-reverse">
              <button type="button" class="btn-mini" style="color:#BDBDBD;">Zamówić</button>
            </div>
          </div>

        </div>
      </div>

      <div class="col-xl-3 col-lg-6 mb-5 my-xl-2 mr-4">
        <div class="card">
          <div class="imgBx">
            <img src="../static/img/galery/tattooEyebrows.jpg" alt="images">
          </div>
          <div class="details">
            <h2 style="margin-bottom:2vh;">Micro pigmentacija</h2>
            <div class="d-flex flex-row-reverse">
              <button type="button" class="btn-mini" style="color:#BDBDBD;">Zamówić</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 mb-5 my-xl-2 mr-4">
        <div class="card">
          <div class="imgBx">
            <img src="../static/img/galery/tattooDot.jpg" alt="images">
          </div>
          <div class="details">
            <h2 style="margin-bottom:2vh;">Dotwork</h2>
            <div class="d-flex flex-row-reverse">
              <button type="button" class="btn-mini" style="color:#BDBDBD;">Zamówić</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 my-xl-2 mr-4">
        <div class="card">
          <div class="imgBx">
            <img src="../static/img/galery/eskiz.jpg" alt="images">
          </div>
          <div class="details">
            <h2 style="margin-bottom:2vh;">Indywidualne szkice</h2>
            <div class="d-flex flex-row-reverse">
              <button type="button" class="btn-mini" style="color:#BDBDBD;">Zamówić</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="container">

    <div class="row fade-500 justify-content-center text-center mb-5" >
      <h1 class="header">Portfolio</h1>
      <hr style="color:#E0E0E0; width:50%">
    </div>

    <div class="row justify-content-center mt-5 mb-lg-0 fade-500">
      <!-- 7 IMG -->
      <div class="col-xl-4 mb-5 my-xl-2 zoom">
        <img class="img-fluid" src="../static/img/Veronika.jpg" alt="" style="border-radius: 8px;"/>
      </div>
      <!-- 8 IMG -->
      <div class="col-xl-4 my-5 my-xl-2 zoom">
        <img class="img-fluid" src="../static/img/Veronika.jpg" alt="" style="border-radius: 8px;"/>
      </div>
      <!-- ... Button -->
      <div class="col-xl-4 mt-5 my-xl-2 zoom">
        <button type="button" class="btn-gallery">...</button>
      </div>

    </div>

  </section>

  <section class="container">

    <div class="row fade-500 justify-content-center text-center mb-5" >
      <h1 class="header">Salon</h1>
      <hr style="color:#E0E0E0; width:50%">
    </div>

    <div class="card-new fade-500 mb-3" >
      <div class="row text-center">
        <div class="col-xl-5 col-md-12 my-xl-2">
          <img src="../static/img/tattooSalon.jpg" class="card-img" alt="...">
        </div>
        <div class="col-xl-7 col-md-12">
          <div class="card-body ">
            <h2 class="card-title" style="color:#E0E0E0;">Studio Tatuażu</h2>
            <p class="p-about card-text" style="color: #BDBDBD;"> Studio tatuażu Tattoo to miejsce, w którym kreatywność łączy się z solidnością. Nasze tatuaże cechują trwałość i niepowtarzalność. W nowoczesnym lokalu o powierzchni 100m2 przy ulicy Kiełbaśniczej 7a we Wrocławiu oferujemy szeroką gamę technik i stylów – od tatuażu tradycyjnego i japońskiego, przez kolorowe ilustracje i komiks, na lineworku, dotworku i tatuażach konturowych kończąc. W naszym salonie tatuażu dbamy o najwyższą jakość naszych usług oraz higienę pracy.</p>
            <div class="d-flex flex-row-reverse h-100">
              <button type="button"  class="btn-mini-about mt-3" style="width:15rem;"
                onclick="location.href='https://www.google.com/maps/place/Barber+Shop+N1.by+Vlad+Shalaiev/@51.1189303,17.0760692,15z/data=!4m5!3m4!1s0x0:0x2ddc820f80949bd!8m2!3d51.1189303!4d17.0760692';">
                Zobać na mapie
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

    <!-- Footer -->
  <footer class="mt-5">
    <div class="сontainer bottom" style="background:rgb(13,13,13)">
      <div class="row align-items-center justify-content-center text-center">

        <div class="col-md-3 col-sm-12 col-sm-4 mx-4 my-4">
          <a class="mx-3 fa-bott" href="https://www.instagram.com/veronique_tattoo/">
            <i class="fab fa-instagram fa-3x"></i>
          </a>

          <a class="mx-3 fa-bott" href="https://www.facebook.com/VeroniqueTattoo">
            <i class="fab fa-facebook fa-3x"></i>
          </a>
        </div>

        <div class="col-md-3 col-sm-12 col-sm-4 h4 mx-4">
          <a class="fb fa-lg text-light" style="text-decoration: none;" href="#">Veronique</a>
        </div>

        <div class="col-md-3 col-sm-12 h4 mx-4 mt-4" style="color: #BDBDBD;">
          <p>al. Kochanowskiego 22B</p>
          <p>51-602 Wrocław</p>
          <p>tel: 318 191 251</p>
          <p>tel: 22 422 05 36</p>
        </div>

      </div>
    </div>
  </footer>
</body>
</html>